**/*xsf
**/*in
**/*sh
**/*csv
**/*FF
!**/*.ipynb
**/vdw_kernel*
**/*POSCAR
**/*.ann*
**/*.train*
**/*.test
**/*.restart
**/*.rngstate
**/*.time
**/*.out
**/*.dat
**/*.xyz
**/*.log
**/*.tar.gz
**/*.zip
**/*.ods
**/*xlsx*