**/*xsf
DB/**/*!.ipynb
NN/*!.ipynb
GSRD/**/
GSRD/**!.ipynb
VdW/**/
VdW/*!.ipynb
**/*.ann*
**/*.train
**/*.test
**/*.out
**/*.dat
**/*.xyz
**/*.xlsx
**/*.ods
**/*.time
**/*.rngstate
**/*.restart
**/*.log
**/*.tar.gz
**/*.zip


